.profile-pic{
	max-width:100%;}


.custom-progress-bar-pink{background-color:pink;}

h4{color:pink;}
h5{color:lightpink;}
h1{color:lightblue;}
p{color:grey;}

.custom-nav{background-color:pink;}


.btn-primary{color:white;background-color:pink;border-color:white;}